<br>

<h1>Listing Dogs</h1>

<%= link_to 'New Dog', new_dog_path, class: "btn btn-default btn-xs", remote: true %>
<div id="dog-form">
</div>

<br>
<br>

  <div class="row">

    <div id="dogs">
      <%= render @dogs %>
    </div>

  </div> <!-- row -->
<br>

<%= link_to 'New Dog', new_dog_path, class: "btn btn-default" %>
